[gcode_macro START_PRINT]
gcode:
    {% set N = printer["gcode_macro GLOBAL_STATE"].max_tool|int %}
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set INITIAL_TOOL = params.INITIAL_TOOL|default(0)|int %}
    {% set INITIAL_TEMP = params.INITIAL_TEMP|default(0)|float %}

    M190 S{BED_TEMP}
    BED_CALIBRATION
    TAP_BASE_TOOL
    G90
    {% set ns = namespace(temps=[]) %}
    {% for i in range(N) %}
        {% if i == 0 %}
            {% set key = "EXTRUDER_TEMP" %}
        {% else %}
            {% set key = "EXTRUDER" ~ i ~ "_TEMP" %}
        {% endif %}
        {% set t = params[key]|default(0)|float %}
        {% set ns.temps = ns.temps + [t] %}
    {% endfor %}

    {% for i in range(N) %}
        {% if ns.temps[i] > 0 %}
            M104 T{i} S{ns.temps[i]}
        {% endif %}
    {% endfor %}

    #Z_TILT_ADJUST

    G1 X0 Y0 F10000
    G1 Z0.2 F300
    M109 T{INITIAL_TOOL} S{INITIAL_TEMP}

    G1 Z2 F500
    G1 F10000
    RESPOND PREFIX=tgalarm MSG="▶️ Print start"


[gcode_macro END_PRINT]
gcode:
    {% set N = printer["gcode_macro GLOBAL_STATE"].max_tool|int %}

    M140 S0
    {% for i in range(N) %}
        M104 T{i} S0
    {% endfor %}
    M106 S0

    G91
    PRIME_FLAGS_SET
    DROP_TOOL
    G90
    G1 X20 Y220 F10000

    M84
    SET_PRINT_STATS_INFO CURRENT_LAYER=0
    RESPOND PREFIX=tgnotify_photo MSG="✅ Print finished"

#[gcode_macro PARK]
#gcode:

    #SAVE_GCODE_STATE NAME=PARK_STATE
#    G90                                                                         # absolute positioning
#    G1 Y220 F10000
#    G1 X0 F10000

    #RESTORE_GCODE_STATE name=PARK_STATE

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% if printer.print_stats.state == "printing" %}
        RESPOND MSG="PAUSE macro: do pause"
        G91
        G1 Z5 F3000
        G90
        G1 Y220 F12000
        G1 X0 F12000
        BASE_PAUSE
        {% set target_tool = printer["gcode_macro GLOBAL_STATE"].target_tool|int %}
        RESPOND PREFIX=tgalarm_photo MSG="⛔ Print paused. Target tool: {target_tool}"
    {% else %}
        RESPOND MSG="PAUSE macro: ignored (no active file print)"
        SET_GCODE_VARIABLE MACRO=GLOBAL_STATE VARIABLE=error_state VALUE=0
    {% endif %}


[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    {% if printer.print_stats.state == "paused" %}
        {% set tgt = printer["gcode_macro GLOBAL_STATE"].target_tool|int %}
        G90
        G28 Y
        G28 X
        CLOSE
        SET_GCODE_VARIABLE MACRO=GLOBAL_STATE VARIABLE=error_state VALUE=0
        RESPOND MSG="RESUME: SET target T{tgt}"
        SET T={tgt}
        G91
        G1 Z-1 E1 F1000
        G1 E1 F1000
        G90
        G1 F10000
        BASE_RESUME
        TOOL_OFFSET_T T={tgt}
    {% else %}
        RESPOND MSG="RESUME (no print, passthrough)"
        SET_GCODE_VARIABLE MACRO=GLOBAL_STATE VARIABLE=error_state VALUE=0
    {% endif %}

[pause_resume]
recover_velocity: 200

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    PRIME_FLAGS_SET
    {% set N = printer["gcode_macro GLOBAL_STATE"].max_tool|int %}

    M140 S0
    {% for i in range(N) %}
        M104 T{i} S0
    {% endfor %}
    M106 S0
    BASE_CANCEL_PRINT
    M84

[gcode_macro HOME_REQUEST]
gcode:
    {% set homed = printer.toolhead.homed_axes|string %}
  {% if 'x' not in homed or 'y' not in homed %}
        RESPOND MSG="SET: homing (G28)"
        G28
  {% endif %}

[gcode_macro M600]
gcode:
    {% set X = params.X|default(0)|float %}
    {% set Y = params.Y|default(200)|float %}
    {% set Z = params.Z|default(20)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE X=15 Y=15
    G1 E-.8 F2700
    G1 Z{Z} F5000
    G91
    G90
    G1 X{X} Y{Y} F12000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro G29]
gcode:
  BED_MESH_CALIBRATE
  G90
  G1 X5 Y5 Z5 F10000

[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# A difference greater than one full step in the MCU positions indicates skipped steps.
# Comparison is limited to full-step accuracy to account for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = 20 %}
    # Size for small pattern box
    {% set smallpatternsize = 20 %}

        # Test area excludes the front tool dock.
        {% set bed_x_min = 0 %}
        {% set bed_x_max = 230 %}
        {% set bed_y_min = 0 %}
        {% set bed_y_max = 230 %}

        {% set x_min = bed_x_min + bound %}
        {% set x_max = bed_x_max - bound %}
        {% set y_min = bed_y_min + bound %}
        {% set y_max = bed_y_max - bound %}

    # Small pattern at center
        # Find X/Y center point
        {% set x_center = 115 %}
        {% set y_center = 115 %}

        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED

    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }

    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        G90
        G1 X115 Y115 F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G90
        G0 X50 Y50 F{30*60}
        G4 P2000
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}

        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}

        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}

        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Move to the XY home positions after the homing override completes.
        G90
        # Park outside the front tool dock.
        G0 X0 Y0 F{30*60}
        G4 P1000
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED
